$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-semiblack: 800;
$font-weight-black: 900;

$container-width: 1280px;

$breakpoint-tablet-start: 1200px;
$breakpoint-mobile-start: 767px;

$font-main-family: 'Founders Grotesk';
$font-sub-family: 'Baskerville';

$color-white: #fff;
$color-blue: #142f5b;
$color-blue-1: #002665;
$color-blue-2: #d1dfe8;
$color-gray: #1a1a1a;
$color-red: #b12333;
